a {
  color: #ff1389;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #ff1389;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #ff1389;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #ff1389;
}
#offcanvas-toggler >i:hover {
  color: #ff1389;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #ff1389;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #ff1389;
}
.sp-page-title {
  background: #ff1389;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #ff1389;
}
.sp-module .letestnews >div >a {
  color: #000000;
}
.sp-module .letestnews >div >a:hover {
  color: #ff1389;
}
.sp-module .tagscloud .tag-name:hover {
  background: #ff1389;
}
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li > a:hover {
  background: #ff1389;
}
.search .btn-toolbar button {
  background: #ff1389;
}
.post-formet {
  background: #ff1389;
}
.voting-symbol span.star.active:before {
  color: #ff1389;
}
.sp-reting span.star:hover:before,
.sp-reting span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #ff1389;
}
blockquote {
  border-color: #ff1389;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #ff1389;
}
#sp-footer {
  background: #ff1389;
}
.sp-comingsoon body {
  background-color: #ff1389;
}
.paginetion>li>a,
.paginetion>li>span {
  color: #000000;
}
.paginetion>li>a:hover,
.paginetion>li>a:focus,
.paginetion>li>span:hover,
.paginetion>li>span:focus {
  color: #000000;
}
.paginetion>.active>a,
.paginetion>.active>span {
  border-color: #ff1389;
  background-color: #ff1389;
}
.paginetion>.active>a:hover,
.paginetion>.active>a:focus,
.paginetion>.active>span:hover,
.paginetion>.active>span:focus {
  border-color: #ff1389;
  background-color: #ff1389;
}
.et-title h6,
.et-slider .tp-caption a,
.et-intro-item:hover i,
.et-about-item,
.et-feeture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover button,
.et-team-item .qx-person-img:before {
  background: #ff1389;
}
.et-intro-item i,
.et-feeture-item h4,
.et-table-item h3,
.et-service-item h4,
.et-service-item i,
.et-intro-item h1,
.et-table-item .table-price .price,
.et-table-item button:hover a,
.et-testimonial p.qx-designetion,
.et-testimonial button,
.et-team-item h4 {
  color: #ff1389!important; 
}
.et-feeture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover,
.et-service-item .button-service,
.et-table-item button,
.et-subscribe-content table .button:hover {
  border-color: #ff1389;
}
/* Important */
 #et-menu a,
.et-slider .tp-caption  b,
.et-services-item:hover i,
.et-title h1,
.icon-minus,
.product-title a,
.et-team-item .social-links a,
.et-intro-item-button:hover,
.et-services-item:hover h4 {
  color: #ff1389!important; 
}
.et-intro-item-time,
.et-contact #sp-quickcontact-form .button:hover,
.projects-fieter a.selected,
.et-why-chose-item i,
.et-counter,
.et-pricing-item .table-footer,
.et-pricing-item .table-heading,
.et-we-do-item .qx-progress-bar,
.et-allowing,
#et-newsletter,
.projects-filter a.selected, 
.et-contact-form button,
.btn-success,
#j2store-slider-range.ui-slider,
#j2store-slider-range  .ui-slider-handle,
#j2store-slider-range .ui-slider-range,
.et-offer-item .qx-blurb-content,
.et-subscribe-content table .button:hover {
  background: #ff1389!important;  
}
.et-contact #sp-quickcontact-form .button:hover,
.social-links > a,
.btn-success,
.et-intro-item-button:hover,
.et-we-do-item i {
  border-color: #ff1389!important; 
}
.et-service-item:hover {
  border: 4px solid #ff1389;
}
.et-newsletter-content table input {
    background: rgba(218, 180, 199, 0.47)!important;
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(255, 19, 137, 0.55) 0%, rgba(255, 19, 137, 0.51) 100%)!important;
}
.pagination>.active>a {
  background: #ff1389;
  color: #fff;
  border-color: #ddd!important;
}
.pagination>li>a, .pagination>li>span {
 color: #ff1389; 
}