/* Title */

#sp-main-body {
    padding: 0!important;
}
body.com-j2store #sp-main-body {
  padding-bottom: 50px!important;
}
.sticky-wrapper.is-sticky #sp-header {
  background:#fff;
}
#sp-bottom2 a {
    color: #000;
}
#offcanvas-toggler >i {
    color: #333;
}
.et-title h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.et-title h2 {
    background: url(../images/header-title.png) no-repeet bottom center ;
  font-size: 45px;
    padding:30px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.et-title h5 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.et-title h6 {
    color: #ffffff;
    padding: 6px 10px 6px;
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.et-title p {
  margin: 0;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
}
/* Transition */
h1, h2, h3, h4, h5, h6, i, i:before, i:after  {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
}
/* Slider */
.et-slider {
  position: relative;
    top:-90px;
}
.button {
    padding: 20px 50px;
}
.et-slider .tp-caption a {
  padding: 12px 35px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.et-slider .tp-caption .button {
    padding: 12px 35px;
    font-size: 14px;
    text-transform: uppercase;
}
.et-slider .tp-caption a.button1 {
    background: none!important;
    border: 2px solid #ffffff;
}
.et-slider .tp-caption a.button1:hover {
    background: #333!important;
    border: 0px;
}
.et-slider .button:hover {
  background: #222;
}
.et-bounce {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animetion: bounce 2s infinite;
    -webkit-animetion: bounce 2s infinite;
    -moz-animetion: bounce 2s infinite;
    -o-animetion: bounce 2s infinite;
    color: #fff;
    font-size: 24px;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: transleteY(0);} 
    40% {-webkit-transform: transleteY(-30px);}
    60% {-webkit-transform: transleteY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: transleteY(0);}
    40% {-moz-transform: transleteY(-30px);}
    60% {-moz-transform: transleteY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: transleteY(0);}
    40% {-o-transform: transleteY(-30px);}
    60% {-o-transform: transleteY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: transleteY(0);}
    40% {transform: transleteY(-30px);}
    60% {transform: transleteY(-15px);}
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* Intro */
.et-intro-item-time {
    background-color: #c1996f;
    padding-bottom: 20px;
}
.et-intro-item-time h2 {
    margin: 0;
    padding: 14px;
}
 #et-intro-item .qx-image {
    width: 100%;
}
#et-intro-item h4 {
    margin: 0;
}
.et-intro-item h1 {
    font-size: 50px;
}
.et-intro-item h5 {
    font-weight: 700;
    letter-spacing: 4px;
}
.et-intro-item h3 {
    
}
.et-intro-item-time p {
    margin-top: 10px;
}
.et-intro-item-button {
    padding: 20px 50px;
    border-color: #000;
    text-transform: uppercase;
}
.button-collection {
   padding: 20px 50px;
    color: #fff;
    border-color: #000;
    text-transform: uppercase;
    background: #333;
}
.et-intro-item-button:hover {
    background-color: #ffffff!important;
}
/* Offer*/
#et-offer-item  {
    cursor: pointer;
}
.et-offer-item .qx-blurb-content {
    padding: 30px;
}
.et-offer-item h2 {
    color: #ffffff;
    border: 4px solid #ffffff;
    padding: 30px;
    margin: 0;
}
#et-offer-item h4 {
    margin: 0;
}
#et-offer-item img {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;

    -webkit-transform:rotate(-50deg);
    -moz-transform:rotate(-50deg);
    -ms-transform:rotate(-50deg);
    -o-transform:rotate(-50deg);
    transform:rotate(-50deg);
}
#et-offer-item:hover img {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
/* Menu*/
.et-menu table {
    width: 100%!important;
}
#et-menu .qx-element-tabs .tabs > li a.active {
    background: #fff;
}
/* Happy Hour */
#et-happy-hour-item {
    border: 4px solid #ffffff;
    padding: 10px;
}
/* Up Coming */
#et-up-coming-item {
    border: 4px solid #ffffff;
    padding: 20px;
}
/* Gallery */
#et-gallery .qx-col-md-3 {
    padding: 0px;
}
/* Portfolio */
.isotope-item {
    padding: 10px;
}
.et-portfolio-button:hover {
  color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li {
  margin: 5px;
}
.project-img img {
    width: 100%;
}
.projects-fieter {
    text-align: center;
    display: inline-block;
}
.projects-fieter ul {
    display: inherit;
    line-height: 43px;
    margin: 0 auto;
}
.projects-fieter ul li {
    line-height: 40px;
    margin: 5px 0;
    display: stetic!important;
    floet: left;
}
.projects-fieter a {
    padding: 8px 15px;
    border: 1px solid #fff;
}
.item-page .project-img {
    border: 5px solid #fff;
}
.pp-button {
    color: #fff;
    padding: 12px 40px;
    font-weight: 700;
}
.pp-button:hover {
    color: #fff;
    background: #666;
}
.projects-fieter a {
    width: 200px;
    display: inline-block;
    padding: 0;
    border-radius: 20px;
}
.projects-wrapper .project-img .project-img-extra h4 {
    color: #ffffff;
}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
  float:left!important;
  width:100%;
}
.portfolio-list {
  padding-bottom:70px;
}
/* Team */
.et-team-item {
  position: reletive;
  margin: 0 5px; 
    border: 1px solid #ddd;
}
.et-team-item img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  transition:         all 0.4s ease-in-out;
}
.et-team-item:hover img{
    transform: rotete(5deg)scale(1.1);
}
.et-team-item .qx-person-img {
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
  position: reletive;
}
.et-team-item .qx-person-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    transition: all .3s linear;
    z-index: 2;
}
.et-team-item:hover .qx-person-img:before {
    opacity: .7;
}
.et-team-item .qx-person-position {
  z-index: 9999;
    font-size: 22px;
    transition: all .3s linear;
    color: #1F1F1F;
    text-transform: uppercase;
    font-weight: 700;
}
.social-links > a  {
    border: 1px solid #ddd !important;
    padding: 10px;
}
.et-team-item h4 {
  background: #fff;
  padding: 15px 5px;
}
.et-team-item:hover .social-links {
  bottom: 80px;
  opacity: 1;
}
.et-team-item .social-links a {
    width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    color: #007dac;
    text-align: center;
    margin: 0 6px;
    margin-bottom: 32px;
    display: inline-block;
}
/* Newslleter */
#et-newsletter {
  margin-bottom:80px;
}
.et-newsletter-title h4 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
}
.et-newsletter-title h5 {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
}

.et-newsletter-content table input {
    background: none!important;
    padding: 35px 205px!important;
    border:0px!important;
    width:95%!important;
}
.et-newsletter-content table .button:hover {
    background-color:#333!important;
}
.et-newsletter-content table .button {
    padding: 24px 54px!important;
    border-color: 0px!important;
}
.et-newsletter-content table tr {
    display: inline;
}
/* Contact */
#et-contact .qx-icon {
    padding: 20px;
}
.et-contact-item .qx-icon {
     -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s; 

}

.et-contact-item:hover .qx-icon:before {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: block; 
    color: #fff!important;

}
.et-contact-item:hover .qx-icon {

    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.et-contact-item {
    cursor: pointer;
}
.et-contact-form label {
    color: #333;
}
.et-contact-form input {
    border-radius: 0!important;
    height: 25px!important;
    width: 100%;
}
.et-contact-form textarea {
    height: 100px!important;
    border-radius: 0!important;
    width: 100%;
}
.et-contact-form button {
    background: none;
    width: 150px;
    height: 35px;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #fff!important;
    transition: all .25s linear;
    font-weight: 400;
}

.et-contact-form button:hover {
    color: #fff!important;
}
/* product*/
.additional-image-list li {
   float: left!important;
}
/** RESPONSIVE **/
/* Screen min 1199px */
@media (min-width: 1200px) {
  .et-services-right,
  .et-about .et-title {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* Screen min 1199px */
@media (max-width: 1199px) {
  .et-services-right,
  .et-about .et-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Screen min 980px and max 1199px */
@media (min-width: 1200px) and (max-width: 1550px) {
  .et-services-right, .et-about .et-title {
      padding: 30px;
  }
  .et-services-content h2 {
      margin-bottom: 10px;
  }
}
/* Screen min 980px and max 1199px */
@media (min-width: 980px) and (max-width: 1199px) {
  .et-about .et-title {
    padding-top: 40px;
    padding-bottom: 0!important;
  }
  .et-services > div {
    width: 100%!important;
  }
}
/* Screen min 979px and max 781px */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Screen max 767px */
@media (max-width: 767px) {
  .et-subscribe > div:first-child {
    padding-bottom: 0!important;
  }
  .et-slider {
    top:0px;
 }
  .et-action-title,
  .et-newlleter > div > div {
    text-align: left;
  }
  .et-blog div.k2ItemsBlock ul li {
    width: 100%;
    margin-right: 0;
  }
}
/* Screen max 480px */
@media (max-width: 480px) {
  .et-slider {
    top:0px;
}
  
}
body.com-users #sp-component {
    padding: 40px 70px 70px 70px;
}