<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset name="Basic" label="COM_CUSTOMFILTERS_BASIC_SETTINGS">

		<field name="use_virtuemart_pages_vars" type="radio" default="1"
			class="btn-group btn-group-yesno" label="COM_CUSTOMFILTERS_USE_VM_VARS_LABEL"
			description="COM_CUSTOMFILTERS_USE_VM_VARS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="returned_products" type="radio" default="parent"
			class="btn-group" label="COM_CUSTOMFILTERS_RETURNED_PRODUCTS_LABEL"
			description="COM_CUSTOMFILTERS_RETURNED_PRODUCTS_DESC">
			<option value="parent">COM_CUSTOMFILTERS_PARENT_PRODUCTS</option>
			<option value="child">COM_CUSTOMFILTERS_CHILD_PRODUCTS</option>
			<option value="all">JALL</option>
		</field>
		
		<field name="filtered_products" type="radio" default="parent"
			class="btn-group" label="COM_CUSTOMFILTERS_FILTERED_PRODUCTS_LABEL"
			description="COM_CUSTOMFILTERS_FILTERED_PRODUCTS_DESC">
			<option value="parent">COM_CUSTOMFILTERS_PARENT_PRODUCTS</option>
			<option value="child">COM_CUSTOMFILTERS_CHILD_PRODUCTS</option>
		</field>

		<field name="use_canonical_urls" type="radio" default="1"
			class="btn-group btn-group-yesno" label="COM_CUSTOMFILTERS_USE_CANONICAL_LABEL"
			description="COM_CUSTOMFILTERS_USE_CANONICAL_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="reset_results" type="list" default="0"
			label="COM_CUSTOMFILTERS_RESET_RESULTS_LABEL" description="COM_CUSTOMFILTERS_RESET_RESULTS_DESC">
			<option value="0">COM_CUSTOMFILTERS_NO_PRODUCT</option>
			<option value="1">COM_CUSTOMFILTERS_ALL_PRODUCTS</option>
		</field>

		<field name="products_multiple_shoppers" type="radio"
			class="btn-group btn-group-yesno" default="0"
			label="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_SHOPPERS_LABEL"
			description="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_SHOPPERS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="products_multiple_currencies" type="radio"
			class="btn-group btn-group-yesno" default="0"
			label="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_CURRENCIES" description="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_CURRENCIES_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>


	<fieldset name="Search" label="COM_CUSTOMFILTERS_SEARCH_SETTINGS"
		addfieldpath="/administrator/components/com_customfilters/models/fields">

		<field name="keyword_search_match" type="radio" default="any"
			class="btn-group btn-group-yesno" label="COM_CUSTOMFILTERS_SEARCH_MATCH_LABEL"
			description="COM_CUSTOMFILTERS_SEARCH_MATCH_DESC">
			<option value="any">COM_CUSTOMFILTERS_ANY</option>
			<option value="exact">COM_CUSTOMFILTERS_EXACT</option>
		</field>

		<field name="keyword_search_clear_filters_on_new_search" type="radio"
			class="btn-group btn-group-yesno" default="1"
			label="COM_CUSTOMFILTERS_CLEAR_FLT_ON_NEW_SEARCH_LABEL" description="COM_CUSTOMFILTERS_CLEAR_FLT_ON_NEW_SEARCH_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="cache_time" type="input" size="5" default="5"
			label="COM_CUSTOMFILTERS_CACHE_LABEL" description="COM_CUSTOMFILTERS_CACHE_DESC" />

		<field name="keyword_searchfield" type="searchfields"
			label="COM_CUSTOMFILTERS_SEARCH_SEARCHFIELDS" />
	</fieldset>


	<fieldset name="Filtering" label="COM_CUSTOMFILTERS_FLT_SETTINGS"
		description="COM_CUSTOMFILTERS_FLT_SETTINGS_DESC">

		<field name="used_cf" type="checkboxes" label="COM_CUSTOMFILTERS_USED_CF_LABEL"
			description="COM_CUSTOMFILTERS_USED_CF_DESC">
			<option value="S">CF_STRING</option>
			<option value="I">CF_INTEGER</option>
			<option value="B">CF_BOOLEAN</option>
			<option value="D">CF_DATE</option>
			<option value="T">CF_TIME</option>
			<option value="V">CF_CART_VARIANT</option>
			<option value="E">CF_PLUGIN</option>
		</field>

		<field name="date_format" type="list"
			label="COM_CUSTOMFILTERS_DATE_FORMAT_LABEL" description="COM_CUSTOMFILTERS_DATE_FORMAT_DESC"
			default="d-m-Y">
			<option value="d-m-Y">d-m-Y (e.g. 31-12-1900)</option>
			<option value="Y-m-d">Y-m-d (e.g. 1900-12-31)</option>
			<option value="m-d-Y">m-d-Y (e.g. 12-31-1900)</option>
		</field>

	</fieldset>


	<fieldset name="liveupdate"
		label="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_HEADER_LABEL" description="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_HEADER_DESC">
		<field name="update_dlid" type="text" default="" size="30"
			label="CONFIG_DOWNLOADID_LABEL" description="CONFIG_DOWNLOADID_DESC" />
		<field name="displayphpwarning" type="radio" default="1"
			label="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_DISPLAYPHPWARNING_LABEL"
			description="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_DISPLAYPHPWARNING_DESC"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_customfilters"
			section="component" />
	</fieldset>

</config>